<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>

<h3 style="font-size:35px">Choose File to Upload</h3>

<form action="/upload-img" method="POST" enctype="multipart/form-data">
    Select Blue Image:
    <input type="file" name="blueImg"/>

    <br/><br/>

    Select Green Image:
    <input type="file" name="greenImg"/>

    <br/><br/>

    Select Red Image:
    <input type="file" name="redImg"/>

    <br/><br/>

    Select Red-Edge Image:
    <input type="file" name="red-edgeImg"/>

    <br/><br/>

    Select Near-Infrared Image:
    <input type="file" name="near-InfraredImg"/>

    <br/><br/>

    <input type="submit" value="Submit"/>

</form>


</body>
</html>